<h1>GeoScore: <%= @geo_scoring.score %></h1>

<p><strong>Prompt:</strong> <%= @geo_scoring.prompt %></p>

<p><strong>Keywords:</strong></p>
<ul>
  <% @geo_scoring.keywords.each do |keyword| %>
    <li><%= keyword.content %></li>
  <% end %>
</ul>

<p><strong>AI Providers:</strong></p>
<ul>
  <% @geo_scoring.ai_providers.each do |ai_provider| %>
    <li><%= ai_provider.name %></li>
  <% end %>
</ul>
